{% extends 'base.html' %}
{% block title %}
    Blog posts
{% endblock %}
{% block content %}
    current user: {{ user.id }}
    <h1>{{ post.title }} - {{ post.author.id }}</h1>
    <li>{{ post.author.first_name }}
        {{ post.author.last_name }}
        - {{ post.post_date }} <small>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <a href="{% url 'update_post' post.pk %}">(edit)</a>
                    <a href="{% url 'delete_post' post.pk %}">(delete)</a>
                {% endif %}
            {% endif %}
        </small></li><br>
    <hr>
    {{ post.body }}<br>
    <a href="{% url 'home' %}" class="btn btn-success"> home page</a>
    <br>
    <hr>
    <form action="{% url "like_post" post.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
            Like - {{ total_likes }}
        </button>
    </form>
{% endblock %}