{% extends 'base.html' %}
{% block title %}
    Blog posts
{% endblock %}
{% block content %}
    current user: {{ user.id }}
    <h1>{{ post.title }}</h1>
    <li>{{ post.author.first_name }}
        {{ post.author.last_name }}
        - {{ post.post_date }}
        <a href="{% url 'show_profile' post.author.profile.id %}">profile</a><small>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <a href="{% url 'update_post' post.pk %}">(edit)</a>
                    <a href="{% url 'delete_post' post.pk %}">(delete)</a>
                {% endif %}
            {% endif %}
        </small></li><br>
    <hr>
    {% if post.image %}
        <img src="{{ post.image.url }}" style="height: 150px;width: 150px">
    {% endif %}
    {{ post.body|safe }}<br>
    <a href="{% url 'home' %}" class="btn btn-success"> home page</a>
    <br>
    <hr>
    <form action="{% url "like_post" post.pk %}" method="post">
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">
                Un Like
            </button>
        {% else %}

            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
                Like
            </button>
        {% endif %}
        - {{ total_likes }}
    </form>
    <div class="card" style="width: 18rem;">
    {% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}" class="card-img-top" alt="...">
    {% endif %}
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">{{ post.author.profile.bio }}</p>

        </div>
    </div>
{% endblock %}